spring.datasource.url= jdbc:postgresql://localhost/startup_calculator
spring.datasource.name= username
spring.datasource.password= password

spring.flyway.url=jdbc:postgresql://localhost/startup_calculator
spring.flyway.user= username
spring.flyway.password= password
