<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prep Stage</title>
  <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>
  <div class="container">
    <div class="stage inactive">You are in the Idea Stage</div>
    <div class="stage prep active">You are in the Prep Stage</div>
    <div class="stage inactive">You are in the Launch Stage</div>
    <div class="stage inactive">You are in the Investor Stage</div>
    <div class="stage inactive">You are in the funder Stage</div>
    <div class="circle prep"><span id="latest-score" class="score"></span></div>
    <div class="prep">Lorem ipsum the text for the idea stage</div> 
    <div class="prep">lorem ipsum dolor</div>
    <div class="nextstep">The next step is to refine the offering, fill in the gaps and bring your offering to the place where it will be highly attractive to investors (and customers)</div>
    <div class="share-box">
      <div class="share-text">SHARE YOUR SCORE</div>
      <div class="share-icons">
        <a href="#" class="share-link"><img src="./assets/images/twitter.png"></a>
        <a href="#" class="share-link"><img src="./assets/images/linkedin.png"></a>
      </div>
    </div>
  </div>
  </div>
  <script src="./assets/js/result.js"></script>
</body>
</html>
